.popupmsg {
  position: fixed;
  /* top: 1.5rem;
  right: 1.5rem; */
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%); /* centra completamente */
  
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;

  /*analizar, no tiene mucho que ver creo */
  text-align: center;
  min-width: 240px;

}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
